.container {
  position: relative;
  display: flex;
  justify-content: center;
  
  .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @media screen and (max-width: 1450px) {
      flex-direction: column;
    }

    & > .slot {
      flex: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 762px;
      width: 718px;

      @media screen and (max-width: 718px) {
        height: 85vw;
        width: 100%;
      }
      
      .profile {
        position: relative;
        height: 475px;
        width: 665px;

        @media screen and (max-width: 718px) {
          height: 62.5vw;
          width: 87.5vw;
        }

        .cardTitle {
          position: absolute;
          text-transform: uppercase;
          font-family: 'UpheavalPro';
          top: 38px;
          left: 209px;
          font-size: 45.6px;
          color: #603228;

          @media screen and (max-width: 718px) {
            top: 5vw;
            left: 27.5vw;
            font-size: 6vw;
          }
        }

        .about {
          display: flex;
          position: absolute;
          top: 95px;
          left: 20.9px;
          width: 551px;
          height: 247px;

          @media screen and (max-width: 718px) {
            top: 12.5vw;
            left: 2.75vw;
            width: 72.5vw;
            height: 32.5vw;
          }

          & > .slot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;

            & > .profilePicture {
              display: block;
              width: 247px;
              height: 247px;

              @media screen and (max-width: 718px) {
                width: 32.5vw;
                height: 32.5vw;
              }
            }

            & > .phorseCoins {
              position: relative;
              width: 247px;
              height: 247px;

              @media screen and (max-width: 718px) {
                width: 32.5vw;
                height: 32.5vw;
              }

              & > .icon {
                display: block;
                position: absolute;
                top: 47.5px;
                left: 50%;
                transform: translateX(-50%);
                width: 98.8px;
                height: 98.8px;

                @media screen and (max-width: 718px) {
                  top: 6.25vw;
                  width: 13vw;
                  height: 13vw;
                }
              }

              & > .amount {
                position: absolute;
                bottom: 47.5px;
                font-family: 'SpaceHorse';
                font-size: 38px;
                text-transform: uppercase;
                text-align: center;
                color: #6e3f28;
                width: 100%;

                @media screen and (max-width: 718px) {
                  bottom: 6.25vw;
                  font-size: 5vw;
                }
              }
            }
          }
        }

        .walletAddress {
          position: absolute;
          font-family: 'SpaceHorse';
          bottom: 85.5px;
          width: calc(100% - 45px);
          text-align: center;
          font-size: 22.8px;

          @media screen and (max-width: 718px) {
            bottom: 11.25vw;
            font-size: 3vw;
          }
        }
      }

      .token {
        position: relative;
        width: 592.8px;
        height: 446.5px;

        @media screen and (max-width: 718px) {
          width: 78vw;
          height: 58.75vw;
        }

        .depositPhorse {
          position: absolute;
          display: block;
          width: 433.2px;
          height: 114vw;
          left: 95px;
          top: 152px;
          cursor: pointer;

          @media screen and (max-width: 718px) {
            width: 57vw;
            height: 15vw;
            left: 12.5vw;
            top: 20vw;
          }
        }

        .withdrawPhorse {
          position: absolute;
          display: block;
          width: 433.2px;
          height: 114px;
          left: 95px;
          top: 269.8px;
          cursor: pointer;

          @media screen and (max-width: 718px) {
            width: 57vw;
            height: 15vw;
            left: 12.5vw;
            top: 35.5vw;
          }
        }
      }
    }
  }
}
