.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../assets/pre-sale/fan.gif');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom right;

  .logo {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 140px;
    height: 55px;
  }

  .socialMedia {
    img {
      margin: 0 5px;
      width: 40px;
      height: 40px;
    }
  }

  .black, .white {
    margin: 20px 0;
    font-family: 'UpheavalPro';
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    font-size: 18px;
  }

  .black {
    color: #000;
  }
  
  .white {
    color: #fff;
  }
}
