.itemContent{
    position: relative;
    flex-grow: 1;
    width: 30%;
    margin-top: 4vw;

    .itemBadge{
        background-image: url('../../../assets/game/items/notification-badge.webp');
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        font-family: 'SpaceHorse';
        position: absolute;
        right: 0px;
        width: 45px;
        height: 45px;
        display: table;
        font-size: 25px;
        line-height: 42px;
        text-align: center;
        top: -10px;
        right: -10px;
        @media screen and (max-width: 920px) {
            width: 25px;
            height: 25px;
            font-size: 15px;
            line-height: 22px;
        }
    }

    img{
        width: 100%;
    }
}