.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 881px;

  @media screen and (max-width: 990px) {
    height: 981px;
  }

  & > .container_header {
    position: absolute;
    top: 0;
    background-image: url('../../../assets/landpage/ptn-final-mato.png');
    background-position: center;
    width: 100%;
    height: 280px;
  }

  & > .container_content {
    position: absolute;
    top: 280px;
    display: flex;
    align-items: center;
    font-family: 'SpaceHorse';
    flex-direction: column;
    width: 100%;
    background-color: #5d2c1c;
    color: #fff;

    & > .content_title {
      margin: 80px 0 100px 0;

      @media screen and (max-width: 990px) {
        margin: 80px 0 200px 0;
      }
    }

    & > .content_information {
      display: flex;
      width: 1100px;
      height: 350px;

      @media screen and (max-width: 990px) {
        flex-direction: column-reverse;
        width: 100%;
      }

      & > div {
        flex: 1;
      }

      & > .information_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;

        @media screen and (max-width: 990px) {
          text-align: center;
          align-items: center;
        }

        & > .text_title {
          letter-spacing: 0.05em;
          margin-left: 50px;
          font-size: 28px;
          overflow: hidden;
          width: 355px;
          margin-bottom: 30px;
          animation: text-description-animation 2s ease-in-out;
          animation-fill-mode: forwards;

          @media screen and (max-width: 990px) {
            margin-left: 0;
            background-color: red;
            max-width: 100%;
          }
        }

        & > .text_description {
          white-space: nowrap;
          margin-left: 50px;
          width: 0;
          overflow: hidden;
          font-size: 20px;
          line-height: 28px;
          animation: text-description-animation 2s ease-in-out;
          animation-fill-mode: forwards;

          @media screen and (max-width: 990px) {
            margin-left: 0;
            background-color: red;
            max-width: 100%;
          }
        }
      }

      & > .information_icon {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 990px) {
          flex-direction: column-reverse;
          padding: 30px 0;
        }

        & > .icon_container {
          position: relative;
          width: 270px;
          height: 270px;
          background-image: url('../../../assets/utils/logos/animted-phorse-coin.gif');
          background-size: cover;
        }
      }
    }
  }
}

@keyframes text-description-animation {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
