.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  padding-bottom: 200px;

  .content {
    display: flex;
    font-family: 'SpaceHorse';
    flex-direction: column;
    color: #fff;
    max-width: 650px;
    
    .title {
      display: flex;
      align-items: center;
      position: relative;
      align-self: center;
      font-family: 'UpheavalPro';
      text-shadow: 0px 3px 2px rgba(0, 0, 0, .2);
      margin-top: 100px;
      margin-bottom: 40px;
      font-size: 45px;
      height: 50px;
      color: #fff;
      opacity: 0;
      transition: opacity 1.2s;

      & > .horizontalLine {
        position: absolute;
        height: 2px;
        width: 140%;
        background-color: #fff;
        transform: translateX(-50%);
        left: 55%;
        bottom: 0;
      }

      & > .diagonalLine {
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: #fff;
        transform: rotate(-50deg);
        left: -43px;
        bottom: -6px;

        .circle {
          position: absolute;
          display: block;
          background-color: #fff;
          border-radius: 50%;
          top: -9px;
          left: -2px;
          width: 8px;
          height: 8px;
        }
      }
    }

    .coinContainer {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 0;

      @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
      }

      .info {
        margin-left: 1%;
        width: 50%;
        font-size: 16px;
        text-shadow: 0px 3px 2px rgba(0, 0, 0, .2);
        line-height: 30px;
        align-self: center;
        transition: margin-left 1.2s, opacity 1.2s;
      }

      .coinImage {
        background-image: url('../../../assets/utils/logos/animted-phorse-coin.gif');
        width: 150px;
        height: 150px;
        transition: opacity 1.2s;

        @media screen and (max-width: 700px) {
          background-position: center;
          background-repeat: no-repeat;
          padding: 50px;
        }
      }
    }

    .description {
      width: 100%;
      align-self: center;
      text-align: center;
      text-shadow: 0px 3px 2px rgba(0, 0, 0, .2);
      line-height: 20px;
      font-size: 18px;
      transition: opacity 1.2s;
    }
  }
}
