.container {
  width: 100%;
  background-color: #0f1012;

  .container_mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    padding: 36px 0;
  }

  .social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    li {
      position: relative;
      height: 40px;
      width: 40px;
      transform: scale(1);
      transition: transform 0.25s;
      
      &:hover {
        transform: scale(1.25);
      }
    }

    @media screen and (max-width: 560px) {
      gap: 24px;

      li {
        height: 24px;
        width: 24px;
      }
    }
  }

  .container_marketing {
    display: flex;
    flex-direction: column;
    align-items: center;

    .marketing_community {
      color: #fff;
      font-size: 36px;
      letter-spacing: 0.08em;
      font-family: "UpheavalPro";
      margin-bottom: 28px;

      @media screen and (max-width: 560px) {
        font-size: 26px;
      }

      @media screen and (max-width: 375px) {
        font-size: 24px;
      }
    }
  }

  .container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    
    .footer_copyright {
      font-family: "UpheavalPro";
      letter-spacing: 0.05em;
      font-size: 16px;
      color: #fff;

      @media screen and (max-width: 930px) {
        font-size: 2.8vw;
      }
    }
  }
}
