.container {
  display: flex;
  justify-content: space-around;
  //align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 80px;
  border: solid red;
  // background-color: rgb(0, 0, 0);
  background-image: linear-gradient(2.1deg, rgb(0, 0, 0) 90%, transparent 10%);

  &::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    top: -20px;
    background-image: url("../../../assets/landpage/ptn-team.png");
    z-index: -1;
  }
  @media screen and (max-width: 970px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .container_marketing {
    //margin-top: 80px;
    width: 292px;

    @media screen and (max-width: 970px) {
      top: 40px;
      left: auto;
    }

    .marketing_community__link {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: #fff;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
      letter-spacing: 0.05em;
      font-family: "UpheavalPro";

      span {
        font-size: 30px;
        margin: 0 10px;
      }

      a {
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #fff;
      }
    }
  }

  .container_partner {
    display: flex;
    flex-direction: column;
    right: 22%;

    @media screen and (max-width: 970px) {
      max-width: 200px;
      flex-direction: column;
      margin-bottom: 10rem;
    }

    span {
      color: #fff;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
      font-family: "UpheavalPro";
    }

    .partner_title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .partner_persons {
      font-size: 65px;
      letter-spacing: 0.05em;
      font-weight: bold;
      margin: 35px 0;
      z-index: 2;
    }
  }

  .container_footer {
    margin-top: 2rem;
    border: solid blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 240px;
    background-image: url("../../../assets/landpage/rodape-ptn.png");

    .footer_copyright {
      font-family: "UpheavalPro";
      letter-spacing: 0.05em;
      font-size: 12px;
      margin: 16px 0;
      color: #fff;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    & .container_marketing {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      & .marketing_community__link {
        margin-top: 10px;
      }
    }
  }
}
