.percentContainer {
  max-width: 775px;
  margin: 0 auto;
  padding-top: 6vw;
  position: relative;

  &:before {
    content: '';
    display: table;
    width: 22%;
    padding-bottom: 6.6%;
    background-image: url('../../../assets/pre-sale/fita.webp');
    background-size: cover;
    transform: rotate(-30deg);
    position: absolute;
    left: -7%;
    z-index: 2;

    @media screen and (max-width: 920px) {
      display:none;
    }
  }

  &:after {
    content: '';
    display: table;
    width: 22%;
    padding-bottom: 6.6%;
    background-image: url('../../../assets/pre-sale/fita.webp');
    background-size: cover;
    transform: rotate(-25deg);
    position: absolute;
    right: -4%;
    bottom: -1%;

    @media screen and (max-width: 920px) {
      display:none;
    }
  }

  .percentImageBackground {
    position: relative;
    background-image: url('../../../assets/pre-sale/percent-background.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-bottom: 34.18%;

    .percentImage {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 30px;

      @media screen and (max-width: 920px) {
        padding: 0px;
      }

      img{
        max-width: 100%;
      }
    }
  }
}