.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--background);
  margin-top: 32px;
  margin-bottom: 100px;
  
  .container_cards {
    display: flex;
    padding-top: 48px;
    gap: 180px;

    @media screen and (max-width: 956px) {
      gap: 120px;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      gap: 28px;
    }


    &.animation {
      .card_image {
        animation: fadeIn 1s ease-out;
        animation-fill-mode: forwards;
      }

      .card_title {
        animation: fadeIn 1s ease-out;
        animation-fill-mode: forwards;
      }

      .card_value {
        animation: fadeIn 1s ease-out;
        animation-fill-mode: forwards;
      }

      @for $i from 1 through 3 {
        div:nth-child(#{$i}) {
          .card_image { animation-delay: #{$i * .5}s; }
          .card_title { animation-delay: #{$i * .7}s; }
          .card_value {  animation-delay: #{$i * .9}s; }
        }
      }
    }

    .cards_card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 40.3%;
      height: 220px;
      margin: 0px 0;

      @media screen and (max-width: 1211px) {
        margin: 0;
        width: 100%;
      }

      span {
        position: relative;
        color: var(--white);
        text-align: center;
        margin: 15px 0;
      }

      .card_image,
      .card_title,
      .card_value {
        opacity: 0;
        top: 50%;
      }

      .card_image {
        align-self: center;
        width: 90px;
        height: 80px;

        @media screen and (max-width: 995px) {
          width: 90px;
          height: 190px;
        }
      }

      .card_title {
        font-family: 'UpheavalPro';
        font-size: 30px;
        
      }

      .card_value {
        font-family: 'SpaceHorse';
        font-size: 20px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1; 
    top: 0;
  }
}
