.container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 24px;
  background-image: url('../../../assets/landing-page/bg-and-itens/placa.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 105px;
  height: 335px;

  .socials {
    margin-left: 15%;
    height: 280px;
  }

  .slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 25%;
  }
}