.container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 24px;
  background-image: url('../../../assets/landing-page/social-midia/placa.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 105px;
  height: 335px;
  animation: animation 1.2s ease-out;
  transition: left .8s ease-out;

  @keyframes animation {
    from {
      left: -105px;
    }

    to {
      left: 0;
    }
  }

  @media screen and (max-width: 810px) {
    animation: none;
  }

  .socials {
    margin-left: 15%;
    height: 280px;
  }

  .slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 25%;
  }
}
