.singleChest{
    .singleChestImage{
        img{
            max-width: 100%;
            width: 100%;
            @media screen and (max-width: 400px) {
                max-width: 65%;
                margin: 0 auto;
                display: table;
            }
        }
    }
    .singleChestButtonArea{
        display: flex;
        justify-content: center;
        margin-top: -18%;
        button{
            background-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            padding-bottom: 11.3%;
            z-index: 9;
            &.buyButton {
                width: 56%;
                background-image: url('../../../assets/pre-sale/openchest.png');
                &:hover {
                    background-image: url('../../../assets/pre-sale/openchest-mouse.png');
                }
                &:active {
                    background-image: url('../../../assets/pre-sale/openchest-clicado.png');
                }
            }
        }
    }
}