.white {
  background-image: url('../../../../../assets/patterns/pattern-white.png');
}

.light {
  background-image: url('../../../../../assets/patterns/pattern-light.png');
}

.dark {
  background-image: url('../../../../../assets/patterns/pattern-dark.png');
}

.yellow {
  background-image: url('../../../../../assets/patterns/pattern-yellow.png');
}