*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--black: #000;
	--background: #000;
}

@font-face {
	font-family: 'SpaceHorse';
	src: local('SpaceHorse'), url('../assets/fonts/SpaceHorse.ttf') format('truetype');
}

@font-face {
	font-family: 'UpheavalPro';
	src: local('UpheavalPro'), url('../assets/fonts/UpheavalPro.ttf') format('truetype');
}

body,
html {

	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 10px;
		height: 0;
		scrollbar-width: 10px;
	}

	&::-webkit-scrollbar,
	::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #4d4d4d;
	}

}

html {
	background-color: var(--background);
	font-family: 'SpaceHorsef';
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}