*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--black: #000;
	--background: #000;
}

@font-face {
	font-family: 'SpaceHorse';
	src: local('SpaceHorse'), url('../assets/fonts/SpaceHorse.ttf') format('truetype');
}

@font-face {
	font-family: 'UpheavalPro';
	src: local('UpheavalPro'), url('../assets/fonts/UpheavalPro.ttf') format('truetype');
}

body,
html {

	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 5px;
		height: 0;
		scrollbar-width: 5px;
	}

	&::-webkit-scrollbar,
	::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #4d4d4d;
	}

}

body.no-plus-cursor,
body.no-plus-cursor * {
	cursor: default !important;
}

body.no-plus-cursor .customCursor {
	opacity: 0;
	/* hide your DOM cursor */
	pointer-events: none;
	/* keep it out of the way */
}

html {
	background-color: var(--background);
	font-family: 'SpaceHorsef';
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

@media (max-width: 415px) {

	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}
}