.raceResultContent {
    position: relative;
    background-color: #8699b0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .raceResultImage {
        
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}