.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-color: #f2e3c4;
    margin: 70px 0;
    width: 1185px;
    height: 395px;

    @media screen and (max-width: 1218px) {
      background-color: #f2e3c4;
      border-radius: 25px;
      width: 350px;
      height: 100%;
    }

    .content {
      background-image: url('../../../assets/game/home-tab/borda-papel1.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1200px;
      height: 410px;
      
      @media screen and (max-width: 1218px) {
        background-image: url('../../../assets/game/home-tab/borda-papel1-lying.webp');
        background-size: contain;
        flex-direction: column;
        height: auto;
        width: auto;
      }
      
      .sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
      }
  
      .description {
        width: 400px;
        height: 340px;
        padding: 20px 0;
        
        @media screen and (max-width: 1218px) {
          transform: scale(.8);
        }
  
        h1, h3 {
          text-align: center;
        }
        
        .title {
          font-size: 30px;
          color: #4c3e3d;
          font-family: 'UpheavalPro';
          text-transform: uppercase;
          margin: 50px 0;
        }
  
        .explanation {
          color: #4c3e3d;
          font-size: 20px;
          font-family: 'SpaceHorse';
          line-height: 32px;
        }
      }
    }
  }
}