.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  animation: fadeInOverlay 0.5s forwards;

  .modalContent {
    width: 290px;
    height: 375px;
    background-color: #f2e3c4;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    transform-origin: center;
    transform: none;
    opacity: 1;

    .closeButton {
      z-index: 20;
      margin: 15px 15px 0 0;
      width: 30px;
      height: 30px;
      background-image: url('/assets/game/pop-up/fechar.png');
      background-size: cover;
      cursor: pointer;
    }
  }

  .resultOverlay {
    position: absolute;
    inset: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
  }

  .lightRay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 300px;
    /* narrow vertical beam */
    height: 100%;
    transform: translateX(-50%);
    z-index: 19;
    /* behind the item & text */
    pointer-events: none;
    /* let clicks pass through */
  }

  .resultCloseBtn {
    position: absolute;
    top: -10px;
    right: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 25;
    width: 32px;
    height: 32px;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      filter: brightness(1.2);
    }

    @media (max-width: 700px) {
      display: none;
    }
  }


  .resultContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/assets/items/text_container.webp'); // Replace with your actual frame path
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 600px;
    z-index: 19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    pointer-events: auto;

    @media (max-width: 700px) {
      width: 90vw;
      height: auto;
      padding: 1rem;
    }
  }


  .resultTitle {
    position: absolute;
    top: 30%;
    /* move it up/down if needed */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 23;

    /* Center the text vertically/horizontally within the container: */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styling */
    font-family: 'SpaceHorse';
    font-size: 1.10rem;
    /* adjust as needed so it fits inside */
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 174, 0, 0.8);
    text-align: center;
    padding: 0 1rem;
    /* small horizontal padding if your text is long */

    /* Prevent clicks on the text from closing the overlay: */
    pointer-events: auto;
  }

  .itemPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25;
    width: 120px;
    height: 120px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dropItem {
      width: 100%;
      height: 100%;
      animation: float 3s ease-in-out infinite;
    }

    .itemLabel {
      background-color: #f0d399;
      font-family: 'SpaceHorse';
      font-size: 0.85rem;
      padding: 4px 8px;
      margin-top: 6px;
      border-radius: 6px;
      text-align: center;
      color: #351414;
      animation: float 3s ease-in-out infinite;
    }
  }

  /* Grid layout for multiple items */
  .resultGrid {

    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, auto);
    gap: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    justify-items: center;
    z-index: 23;
  }

  @media (max-width: 420px) {
    .resultGrid {
      top: 60%
    }
  }

  .resultItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .dropGridItem {
      width: 64px;
      height: 64px;
      margin-bottom: 4px;
      animation: float 3s ease-in-out infinite;
    }

    .itemLabel {
      background-color: #f0d399;
      font-family: 'SpaceHorse';
      font-size: 0.85rem;
      padding: 4px 8px;
      margin-top: 6px;
      border-radius: 6px;
      text-align: center;
      color: #351414;
      animation: float 3s ease-in-out infinite;
    }
  }
}

@keyframes fadeInOverlay {
  from {
    background-color: rgba(0, 0, 0, 0)
  }

  to {
    background-color: #0000004c
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.grow {
  animation: growModal 0.75s ease-out forwards;
}

@keyframes growModal {
  0% {
    transform: scale(0);
    opacity: 0
  }

  70% {
    opacity: 1
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-direction: row;
  /* lay items out in a row */
  flex-wrap: wrap;
  /* allow wrapping to new “lines” if necessary */
  gap: 2vw;
  /* same gutter you already had */
  justify-content: center;
  /* or space-between / space-around, whatever you like */
}

.card {
  width: 200px;
  height: 300px; // defina uma altura fixa que caiba o GIF
  margin-bottom: 1vw 0;
  background-repeat: no-repeat;
  background-position: center 20px; // ajuste vertical do chest
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // empurra badge lá em cima e botões lá embaixo
  align-items: center;
  /* mais espaço acima da badge */
  padding-bottom: 1rem;
  /* menos espaço abaixo, se necessário */
}

/* imagem do chest */
.imageWrapper {
  position: relative;
  width: 100%;
  height: 140px;
}

/* badge de quantidade */
.itemBadge {
  background-image: url('/assets/game/Items/notification-badge.webp');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  font-family: 'SpaceHorse';
  position: absolute;
  margin-top: 35px;
  margin-left: 130px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1;
  padding-left: 4px;
  padding-bottom: 3px;
}

/* linha de botões */
.buttonRow {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  padding-top: 180px;
  margin-bottom: 1rem;
  transform: scale(0.95);
}

/* estilo comum a ambos os botões */
.buttonRow button {
  position: relative;
  font-family: 'SpaceHorse';
  width: 100%;
  height: 2.5rem;
  background-image: url('/assets/game/buttons/button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000000;
  text-align: center;
  line-height: 2.5rem;
  outline: none;
}

.buttonRow button:hover {
  background-image: url('/assets/game/buttons/button-mouse.svg');
}

.buttonRow button:active {
  background-image: url('/assets/game/buttons/button-click.svg');
}

/*   @media (max-width: 920px) {
    .card {
      width: 45vw;
    }
    .imageWrapper {
      height: 30vw;
    }
    .itemBadge {
      width: 24px;
      height: 24px;
      font-size: 0.8rem;
      top: 4px;
      right: 4px;
    }
    .buttonRow button {
      height: 5vw;
      line-height: 5vw;
      font-size: 3vw;
    }
  } */