$default-color: #919191; // cinza fallback

.singleHorse {

    padding: 1vw;

    .maskCard {
        background-image: url('../../../assets/game/horses/pasta-horses.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 46vw;
        height: 29vw;
        display: flex;
        z-index: 0;
        position: relative;

        @media screen and (max-width: 920px) {
            width: 97vw;
            height: 60vw;
        }

        .horseGif {
            padding: 3.5vw 1.8vw;

            img {
                width: 19.2vw;
            }

            @media screen and (max-width: 920px) {
                padding: 7.3vw 3.8vw;

                img {
                    width: 40.2vw;
                }
            }
        }

        .levelUpButton {
            position: absolute;
            top: 2vw;
            left: 1vw;
            width: 5vw; // adjust as needed
            height: auto;
            cursor: pointer;
            transition: transform 0.3s;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            &:hover {
                transform: scale(1.05);
            }

            @media screen and (max-width: 920px) {
                top: 4vw;
                left: 2vw;
                width: 14vw; // slightly larger on mobile
            }
        }

        .horseInfo {
            .horseWrapper {
                padding: 5.25vw 3.93vw 2.1vw 3.93vw;
                font-family: 'SpaceHorse';

                @media screen and (max-width: 920px) {
                    width: 100%;
                    padding: 11.7vw 8.5vw 2.2vw 8.5vw;
                }

                .horseItems {
                    display: flex;
                    margin-top: 3vw;
                    padding: 0 1.3vw;

                    .singleItem {
                        min-width: 3vw;
                        margin-left: 1.2vw;
                        text-align: center;
                        font-size: 1.3vw;

                        &:first-child {
                            margin-left: 0vw;
                        }

                        @media screen and (max-width: 920px) {
                            min-width: 5.9vw;
                            margin-left: 2.7vw;
                            font-size: 2vw;
                        }
                    }

                    @media screen and (max-width: 920px) {
                        margin-top: 7vw;
                        padding: 0 3vw;
                    }
                }

                .horseStaty {
                    margin-top: 1vw;

                    @media screen and (max-width: 920px) {
                        margin-top: 2vw;
                    }
                }

                .horseItemDescriptionBox {
                    display: flex;
                    justify-content: space-between;
                }

                .horseItemDescription {
                    font-size: 0.8vw;
                    color: #b79b74;
                    line-height: 1.4;

                    @media screen and (max-width: 920px) {
                        font-size: 1.7vw;
                    }

                    span {
                        color: #7d6b55;
                        font-weight: bold;
                        font-size: 0.8vw;

                        @media screen and (max-width: 920px) {
                            font-size: 1.7vw;
                        }

                        &.horseItemDescriptionGray {
                            color: #919191;
                        }

                        &.horseItemDescriptionBlue {
                            color: #2F35A8;
                        }

                        &.horseItemDescriptionRed {
                            color: #E21C21;
                        }

                        &.horseItemDynamic {
                            font-weight: bold;
                        }
                    }

                }

            }

            .horseButtons {
                display: flex;
                gap: 0.5vw;

                .singleButton {

                    button {
                        background-color: transparent;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border: none;
                        cursor: pointer;
                        height: 2.5vw;

                        @media screen and (max-width: 920px) {
                            height: 5.5vw;
                            margin-top: 1vw;
                        }

                        &.itemsButton {
                            width: 4.4vw;
                            background-image: url('../../../assets/game/horses/items.png');

                            @media screen and (max-width: 920px) {
                                width: 10vw;
                            }

                            &:hover {
                                background-image: url('../../../assets/game/horses/items-mouse.png');
                            }

                            &:active {
                                background-image: url('../../../assets/game/horses/items-clicado.png');
                            }
                        }

                        &.restoreButton {
                            width: 5.8vw;
                            background-image: url('../../../assets/game/horses/restore.png');

                            @media screen and (max-width: 920px) {
                                width: 13vw;
                            }

                            &:hover {
                                background-image: url('../../../assets/game/horses/restore-mouse.png');
                            }

                            &:active {
                                background-image: url('../../../assets/game/horses/restore-clicado.png');
                            }

                            &:disabled {
                                background-image: url('../../../assets/game/horses/restore-clicado.png');
                                cursor: not-allowed;
                            }
                        }

                        &.startButton {
                            width: 3.6vw;
                            background-image: url('../../../assets/game/horses/start.png');

                            @media screen and (max-width: 920px) {
                                width: 8vw;
                            }

                            &:hover {
                                background-image: url('../../../assets/game/horses/start-mouse.png');
                            }

                            &:active {
                                background-image: url('../../../assets/game/horses/start-clicado.png');
                            }

                            &:disabled {
                                /* use the “clicked” sprite when disabled */
                                background-image: url('../../../assets/game/horses/start-clicado.png');
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }

        .horseId {
            position: absolute;
            top: 0.1vw;
            right: 10vw;
            font-family: 'SpaceHorse';
            font-size: 1.2vw;
            color: #7D6B55; // mesmo tom usado em horseItemDescription
            line-height: 1.4;

            @media screen and (max-width: 920px) {
                top: 0.4vw;
                right: 20vw;
                font-size: 2.4vw;
            }
        }
    }
}