.container {
  display: flex;
  background: none;
  border: 0;
  width: 282px;
  height: 64px;

  &:hover {
    & > span {
      &.button { opacity: 0; }
      &.button_hover { opacity: 1; }
    }
  }

  &:active {
    & > span {
      &.button { opacity: 0; }
      &.button_hover { opacity: 0; }
      &.button_active { opacity: 1; }
    }
  }

  & > span {
    position: absolute;
    width: 282px;
    height: 64px;
    opacity: 0;

    &.button {
      z-index: 2;
      opacity: 1;
    }

    &.button_hover {
      z-index: 1;
    }

    &.button_active {
      z-index: 0;
    }
  }
}
