.white {
  background-image: url('../../../assets/utils/patterns/pattern-white.webp');
}

.light {
  background-image: url('../../../assets/utils/patterns/pattern-light.webp');
}

.dark {
  background-image: url('../../../assets/utils/patterns/pattern-dark.webp');
}

.yellow {
  background-image: url('../../../assets/utils/patterns/pattern-yellow.webp');
}

.blurredDarkBlue {
  background-image: url('../../../assets/utils/patterns/blurred-dark-blue.webp');
}

.brown{
  background-image: url('../../../assets/utils/patterns/pattern-brown.webp');
}