.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-image: url('../../../assets/landing-page/white-paper/table.webp');
  height: 254px;

  .slot {
    position: relative;
    height: 211px;
    width: 100%;
    bottom: 50px;
    
    #whitepaper {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      outline: 0;
      border: 0;
      height: 218px;
      width: 518px;

      @media screen and (max-width: 540px) {
        width: 100%;
        background-size: contain;
      }
    }
    
    .inactive {
      background-image: url('../../../assets/landing-page/white-paper/book.webp');
    }
    
    .active {
      background-image: url('../../../assets/landing-page/white-paper/book-over.webp');
      cursor: pointer;
    }
  }
}