.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  background-image: url('../../../assets/landing-page/banner/background.webp');
  background-attachment: fixed;
  
  .buttonContainer {
    position: fixed;
    right: 10%;
    width: 224px;
    height: 73px;
    animation: playButtonAnimation 0.6s ease-out;
    z-index: 2;

    @keyframes playButtonAnimation {
      from {
        top: -73px;
      }

      to {
        top: 0;
      }
    }

    @media screen and (max-width: 810px) {
      animation: none;
    }

    #playButton {
      right: 10%;
      width: 224px;
      height: 73px;
      border: 0;
      outline: 0;
      border-radius: 0 0 15px 15px;
      cursor: pointer;
    }

    .playActive {
      background-image: url('../../../assets/landing-page/banner/buttons/play/play.webp');
    }

    .playInactive {
      background-image: url('../../../assets/landing-page/banner/buttons/play/play-animation.gif');
    }

    .playClick {
      background-image: url('../../../assets/landing-page/banner/buttons/play/play-click.webp');
    }
  } 

  .logoMarket {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 60px;
    width: 100%;
    height: 220px;

    @media screen and (max-width: 950px) {
      top: 100px;
    }
  }

  .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 120px;
    width: 100%;
    transform: scale(.7);

    @media screen and (max-width: 870px) {
      transform: scale(1);
    }
  }

  .frameFooter {
    position: absolute;
    background-color: #7d4d45;
    display: flex;
    width: 100%;
    justify-content:  center;
    align-items: center;
    height: 82px;
    bottom: 0;
    border-top: 1px solid #401c16;

    svg {
      position: absolute;
      background-color: red;
    }

    & > div {
      position:  relative;
      background-color: #a26b61;
      border: 0;
      outline: 0;
      font-size: 12px;
      color: #fff;
      border-radius: 5px;
      border-top: 2px solid #582c25;
      border-bottom: 2px solid #c49086;
      padding: 4px;
      width: 520px;

      span {
        display: block;
        position: relative;
        top: calc(50% - 5px);
        left: calc(50% - 125px);
        white-space: nowrap;
        overflow: hidden;
        width: 251px;
        height: 16px;
        font-family: 'SpaceHorse';
        font-size: 12px;
        letter-spacing: 1.1px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        animation: AnimationAddress .6s linear;

        @keyframes AnimationAddress  {
          from {
            width: 0;
          }

          to {
            width: 251px;
          }
        }
      }
    }

    .shadowLine {
      position: relative;
      height: 3px;
      bottom: 3px;
      background-color: #582c25;
    }

    .shadow {
      position: relative;
      height: 8px;
      background-color: #582c25;
    }
  } 
}
