.container {
  position: relative;
  height: 84vh;
  width: 100%;
  overflow: hidden;

  background-image: url('../../../assets/landing-page/banner/background.webp');
  background-attachment: fixed;
  
  #playButton {
    position: fixed;
    top: 0;
    right: 10%;
    width: 224px;
    height: 73px;
    border: 0;
    outline: 0;
    border-radius: 0 0 15px 15px;
    z-index: 2;
    cursor: pointer;
  }
  
  .playActive {
    background-image: url('../../../assets/landing-page/banner/buttons/play/play.webp')
  }

  .playInactive {
    background-image: url('../../../assets/landing-page/banner/buttons/play/play-animation.gif')
  }

  .playClick {
    background-image: url('../../../assets/landing-page/banner/buttons/play/play-click.webp')
  }

  .logoMarket {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 60px;
    width: 100%;
    height: 220px;

    @media screen and (max-width: 950px) {
      top: 100px;
    }
  }

  .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 120px;
    width: 100%;
    transform: scale(.7);

    @media screen and (max-width: 870px) {
      transform: scale(1);
    }
  }

  .frameFooter {
    position: absolute;
    background-color: #7d4d45;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #401c16;

    .clarity {
      position: relative;
      border-top: 3px solid #c49086;
      height: 8px;
      background-color: #a26b61;
    }

    .clarityLine {
      position: relative;
      height: 3px;
      top: 3px;
      background-color: #a26b61;
    }

    .address {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 54px;

      & > input {
        background-color: #a26b61;
        text-align: center;
        user-select: none;
        letter-spacing: 1.1px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        border: 0;
        outline: 0;
        font-family: 'SpaceHorse';
        font-size: 12px;
        height: 18px;
        color: #fff;
        border-radius: 5px;
        border-top: 2px solid #582c25;
        border-bottom: 2px solid #c49086;
        padding-bottom: 4px;
        width: 520px;
      }
    }

    .shadowLine {
      position: relative;
      height: 3px;
      bottom: 3px;
      background-color: #582c25;
    }

    .shadow {
      position: relative;
      height: 8px;
      background-color: #582c25;
    }
  } 
}
