.container {
  position: relative;
  height: 84vh;
  width: 100%;
  overflow: hidden;

  background-image: url('../../../assets/landing-page/banner/background.webp');
  background-attachment: fixed;
  
  #playButton {
    position: fixed;
    top: 0;
    right: 10%;
    width: 224px;
    height: 73px;
    border: 0;
    outline: 0;
    border-radius: 0 0 15px 15px;
    z-index: 2;
    cursor: pointer;
  }
  
  .playActive {
    background-image: url('../../../assets/landing-page/banner/buttons/play/play.webp')
  }

  .playInactive {
    background-image: url('../../../assets/landing-page/banner/buttons/play/play-animation.gif')
  }

  .playClick {
    background-image: url('../../../assets/landing-page/banner/buttons/play/play-click.webp')
  }

  .logoMarket {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 60px;
    width: 100%;
    height: 220px;

    @media screen and (max-width: 950px) {
      top: 100px;
    }
  }

  .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 120px;
    width: 100%;
    transform: scale(.7);

    @media screen and (max-width: 870px) {
      transform: scale(1);
    }
  }

  .molduraFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;
    background-image: url('../../../assets/landing-page/banner/bar.webp');
    background-position: center;

    a {
      font-size: 12px;
      font-family: 'SpaceHorse';
      position: relative;
      text-decoration: none;
      color: #fff;

      b {
        text-decoration: none;
      }
    }
  }
}