 @use "sass:map";

$width-1920: (
  "tv": ("width": 1152px, "height": 910px),
  "bush": ("width": 962px, "height": 464px, "top": 458px),
  "book": ("width": 406px, "height": 256px, "left": 315px, "top": 500px),
  "tv-image": ("width": 402px, "height": 378px, "left": 340px, "top": 50px),
);

$width-1440: (
  "tv": ("width": 864px, "height": 683px),
  "bush": ("width": 723px, "height": 348px, "top": 345px),
  "book": ("width": 297px, "height": 185px, "left": 237px, "top": 380px),
  "tv-image": ("width": 302px, "height": 284px, "left": 255px, "top": 38px),
);

$width-1280: (
  "tv": ("width": 768px, "height": 606px),
  "bush": ("width": 642px, "height": 310px, "top": 300px),
  "book": ("width": 272px, "height": 182px, "left": 210px, "top": 338px),
  "tv-image": ("width": 268px, "height": 252px, "left": 227px, "top": 34px),
);

$width-1024: (
  "tv": ("width": 615px, "height": 486px),
  "bush": ("width": 515px, "height": 248px, "top": 243px),
  "book": ("width": 220px, "height": 140px, "left": 168px, "top": 264px),
  "tv-image": ("width": 214px, "height": 202px, "left": 182px, "top": 27px),
);

$width-860: (
  "tv": ("width": 516px, "height":  408px),
  "bush": ("width": 431px, "height": 208px, "top": 200px),
  "book": ("width": 178px, "height": 110px, "left": 142px, "top": 227px),
  "tv-image": ("width": 180px, "height": 170px, "left": 152px, "top": 23px),
);

$media-queries: (
  "860px": $width-860,
  "1024px": $width-1024,
  "1280px": $width-1024,
  "1440px": $width-1440,
  "1920px": $width-1920
);



.container {
  background-color: #000;
  justify-content: center;

  .container_content {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    overflow: hidden;

    .content_gameplay {
      display: flex;
      color: #e8e8e8;
      width: 100%;
      height: fit-content;

      &::before {
        content: '';
        width: 2px;
        background-color: var(--white);
        margin-right: 24px;
        
        opacity: 0;
        transform: translateY(-100%);
      }

      & > div {
        font-family: 'UpheavalPro';
        margin-bottom: 64px;

        .content_head {
          margin-bottom: 56px;
          opacity: 0;
          transform: translateX(-100%);

          & > h1 {
            font-size: 56px;
          }
        }
  
        .gameplay_topics {
          display: flex;
          flex-direction: column;

          li {
            opacity: 0;
            transform: translateX(-100%);
            margin-bottom: 42px;
            
            & > button {
              color: #e8e8e8;
              font-size: 32px;
              font-family: 'UpheavalPro';
              text-decoration: underline;
              
              background: none;
              border: none;
              box-shadow: none;
              outline: none;

              cursor: pointer;
            }
          }
        }
  
        .gameplay_body {
          opacity: 0;
          transform: translateY(50%);

          & > p {
            font-size: 24px;
            font-family: 'SpaceHorse';
            line-height: 1.6;
          }
        }
      }
    }

    .content_horses {
      display: flex;

      .horses_content {
        position: relative;

        & > div {
          position: absolute;
        }

        .content_tv {
          width: 100%;
          height: 100%;
        }

        .link, .book_container {
          opacity: 0;
          transform: translateY(-200%);
        }

        .link {
          z-index: 2;

          & > a {
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%;
          }

          &:hover {
            & ~ .book_container {
              .book_hover { opacity: 1; }
              .book { opacity: 0; }
            }
          }
        }
        
        .book_container {
          .book, .book_hover { translate: opacity .25s; }

          .book_hover { opacity: 0; }
        }

        .content_bush { left: 0; }
      }
    }

    @media (max-width: 989px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .content_gameplay {
        width: 90%;
        margin-top: 0;
        margin-bottom: 24px;

        & > div {
          .gameplay_topics > li {
            margin-bottom: 30px;

            button {
              font-size: 28px;
            }
          }
    
          .gameplay_body > p {
            font-size: 18px;
          }
        }
      }

      .horses_content {
        width: 96vw;
        height: 80vw;
        margin-bottom: 24px;

        .content_viewfinder {
          left: 30%;
          top: 5%;
          width: 34%;
          height: 42%;
        }

        .book_container, .link {
          width: 40vw;
          height: 26vw;
          left: 24%;
          bottom: 14%;
        }

        .content_bush {
          width: 82%;
          height: 42vw;
          top: 42vw;
        }
      }
    }

    @media (max-width: 1440px) {
      .content_gameplay {
        & > div {
          .content_head {
            margin-bottom: 40px;

            & >h1 {
              font-size: 46px;
            }
          }
    
          .gameplay_topics > li {
            margin-bottom: 34px;
            button {
              font-size: 28px;
            }
          }
    
          .gameplay_body > p {
            font-size: 18px;
          }
        }
      }
    }

    @each $width, $elements in $media-queries {
      $tv: map.get($elements, "tv");
      $bush: map.get($elements, "bush");
      $book: map.get($elements, "book");
      $tv-image: map.get($elements, "tv-image");

      $container: calc(#{$width} - 92px);
      $min-width: calc(#{$width} + 12px);

      @media (min-width: #{$min-width}) {
        margin-left: 32px;

        max-width: #{$container};

        .content_gameplay {
          & > div .gameplay_body > p {
            padding-right: 20px;
          }
        }

        .horses_content {
          width: map.get($tv, "width");
          height: map.get($tv, "height");
  
          .content_viewfinder {
            top: map.get($tv-image, "top");
            left: map.get($tv-image, "left");
            width: map.get($tv-image, "width");
            height: map.get($tv-image, "height");
          }
  
          .content_tv {
            width: map.get($tv, "width");
            height: map.get($tv, "height");
          }
  
          .book_container, .link {
            top: map.get($book, "top");
            left: map.get($book, "left");
            width: map.get($book, "width");
            height: map.get($book, "height");
          }
  
          .content_bush {
            top: map.get($bush, "top");
            width: map.get($bush, "width");
            height: map.get($bush, "height");
          }
        }
      }
    }
  }

  .animation {
    .content_gameplay {
      &::before {
        animation: translateY-animation 2s ease-in-out;
        animation-fill-mode: forwards;
      }

      & > div {
        .content_head {
          animation: translateX-animation 2s ease-in-out;
          animation-fill-mode: forwards;
          animation-delay: .25s;
        }

        .gameplay_topics {
          & > li {
            animation: translateX-animation 2s ease-in-out;
            animation-fill-mode: forwards;
          }

          @for $i from 1 through 3 {
            li:nth-child(#{$i}) {
              animation-delay: #{($i * .25) + .25}s;
            }
          }
        }
  
        .gameplay_body {
          animation: translateY-animation 2s ease-in-out;
          animation-fill-mode: forwards;
          animation-delay: 2s;
        }
      }
    }

    .content_horses {
      .link, .book_container {
        animation: translateY-animation 1.25s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 1s;
      }
    }
  }
}

@keyframes translateY-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateX-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

