.container {
  position: relative;
  top: 40px;
  margin-bottom: 10px;
  width: 300px;
  height: 400px;

  .tapeContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    z-index: 1;
  }

  & > span {
    overflow: visible !important;

    img {
      width: 300px;
      filter: drop-shadow(0 10px 2px rgba(0, 0, 0, .3));
    }
  }
}
