.modalRaceStart {

    &.modalActive {
        display: block;
    }

    &.modalInactive {
        display: none;
    }

    .modalFull {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;

        .modalContent {
            position: relative;
            font-family: 'SpaceHorse';
            width: 35.7vw;
            height: 37.3vw;

            @media screen and (max-width: 920px) {
                width: 90vw;
                height: 94vw;
            }

            .modalMask {
                height: 99%;
                width: 99%;
                background-image: url('../../../../assets/game/pop-up/start/smart-fone.webp');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
            }

            .modalContainer {
                height: 100%;
                width: 100%;
                padding: 1vw 1vw 2.7vw 1vw;
                .modalInner{
                    height: 100%;
                    width: 100%;
                    background-color: black;
                    
                    .modalStartRace{
                        height: 100%;
                        width: 100%;
                        background-image: url('../../../../assets/game/pop-up/start/race-loading.gif');
                        background-size: cover;
                        background-repeat: no-repeat;

                    }
                }
            }

            .modalClose {
                position: absolute;
                right: -15px;
                top: -15px;
                cursor: pointer;
                z-index: 3;
            }
    
        }
    }
}

