.lousaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 75px 0;
    @media screen and (max-width: 920px) {
        padding: 25px 0;
    }
    .lousaImage{
        width: 95vw;
        background-image: url('../../../assets/pre-sale/lousa.png');
        background-repeat: no-repeat;
        /* REFACTORY: Precisa pensar em uma maneira melhor de fazer o BG dessa lousa */
        background-size: 100% 100%;
        max-width: 1480px;
        margin: 0 auto;
        @media screen and (max-width: 920px) {
            width: 97vw;
        }
        .lousaContent{
            padding: 50px;
            box-shadow: 0.00px 23.00px 16px 0px rgba(0,0,0,0.53);
            @media screen and (max-width: 920px) {
                padding: 30px 10px 10px 10px;
            }
            .lousaTitle{
                color: white;
                font-family: 'UpheavalPro';
                font-size: 5rem;
                line-height: 0.8;
                text-align: center;
                text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
                @media screen and (max-width: 920px) {
                    font-size: 2rem;
                }
            }
        }
    }
}
  