.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  padding-bottom: 200px;

  & > span {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'UpheavalPro';
    text-shadow: 0px 3px 2px rgba(0, 0, 0, .2);
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 45px;
    height: 50px;
    color: #fff;
    opacity: 0;
    transition: opacity 1.2s;

    & > .horizontalLine {
      position: absolute;
      height: 2px;
      width: 120%;
      background-color: #fff;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
    }

    & > .diagonalLine {
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: #fff;
      transform: rotate(-50deg);
      left: -48px;
      bottom: -6px;

      .circle {
        position: absolute;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        top: -9px;
        left: -2px;
        width: 8px;
        height: 8px;
      }
    }
  }

  .horseGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 850px;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .animationLeftToRight {
    animation: category-horse-card-right 1.5s ease;
    
    @keyframes category-horse-card-right {
      from {
        left: -100px;
        opacity: 0;
      }
      
      to {
        left: 0;
        opacity: 1;
      }
    }

    @media screen and (max-width: 810px) {
      animation: none;
    }
  }

  .animationRightToLeft {
    animation: category-horse-card-left 1.2s ease;
  
    @keyframes category-horse-card-left {
      from {
        left: 100px;
        opacity: 0;
      }
  
      to {
        left: 0;
        opacity: 1;
      }
    }

    @media screen and (max-width: 810px) {
      animation: none;
    }
  }
}
