#burger {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #582c25;
  height: calc(100% - 90px);
  width: 300px;
  bottom: 0;
  transition: left .5s;
  z-index: 1;

  @media screen and (min-width: 1160px) {
    display: none;
  }

  a {
    color: #fff;
    font-family: 'SpaceHorse';
    text-decoration: none;
    font-size: 20px;
    margin: 30px 0;
    margin-left: 50px;
  }
}
