.board {
  position: relative;
  background-color: #7d4d45;
  height: 80px;

  .clarity {
    background-color: #a26b61;
    border-top: 3px solid #c49086;
    height: 10px;
    border-bottom: 3px solid #7d4d45;
  }

  .clarityBorder {
    height: 3px;
    background-color: #a26b61;
  }

  .shadowBorder {
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 12px;
    background-color: #582c25;
  }

  .shadow {
    position: absolute;
    background-color: #582c25;
    height: 10px;
    width: 100%;
    bottom: 0;
    border-top: 3px solid #7d4d45;
  }
}

.line {
  height: 4px;
  margin: 5px 0;
  width: 100%;
  color: rgba(28, 24, 33, 0.5);
  background-color: rgba(28, 24, 33, 1);
  border: 0;
}