.container {
  height: 100vh;
  width: 100%;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25vh;
  
  background: url('../../../assets/landpage/fundo-provisorio.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container_icon {
    max-width: 364px;
    margin-top: -42px;
  }

  .container_button {
    font-family: 'UpheavalPro'; 
    animation: blinker 1.5s step-start infinite;
    text-align: center;
    color: var(--white);

    display: flex;
    align-items: center;

    &:hover {
      animation: none;
    }

    @keyframes blinker {
      35% { opacity: 0 }
      100% { opacity: 1 }
    }

    span {
      font-size: 72px;
    }

    a {
      font-size: 52px;
      margin: 0 20px;
      color: var(--white);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 425px) {
      max-width: 238px;
    }
  }

  @media (max-width: 1440px) {
    .container_icon {
      max-width: 270px;
    }

    .container_button {
      span { font-size: 38px; }

      a {
        font-size: 32px;
        margin: 0 12px;
      }
    }
  }

  @media (max-width: 768px) {
    .container_icon {
      width: 76%;
    }

    .container_button {
      span {
        font-size: 48px;
      }

      a {
        // font-size: 36px;
        margin: 0 12px;
      }
    }
  }
}
