.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('../../../assets/landpage/fundo-provisorio.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & > div {
    position: absolute;
  }

  & > .container_icon {
    top: 100px;
    height: 347px;
    width: 457px;
    left: 50%;
    transform: translateX(-50%) scale(0.65);
    background-image: url('../../../assets/landpage/logo-planethorse.gif');
    background-size: cover;

    @media screen and (max-width: 457px) {
      width: 100vw;
      height: 76vw;
    }

    @media screen and (max-height: 546px) {
      width: 100vh;
      height: 76vh;
    }

    @media screen and (max-height: 670px) {
      top: 2vw;
    }
  }

  & > .container_button {
    font-family: 'UpheavalPro'; 
    left: 50%;
    transform: translateX(-50%) scale(0.70);
    animation: blinker 1s step-start infinite;
    min-width: 600px;
    margin-bottom: 100px;
    text-align: center;
    color: #fff;

    &:hover {
      animation: none;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    @media screen and (max-height: 670px) {
      bottom: 09vh;
    }

    & > span {
      position: relative;
      top: .25vw;
      height: 100px;
      font-size: 65px;

      @media screen and (max-width: 650px) {
        font-size: 9vw;
        top: .2vw;
        min-width: auto;
        width: 100%;
      }
    }

    & > a {
      color: #fff;
      margin: 0 20px;
      font-size: 55px;
      text-decoration: none;

      @media screen and (max-width: 650px) {
        margin: 0 2vw;
        min-width: auto;
        width: 100%;
        font-size: 9vw;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
