.container {
  height: 100vh;
  width: 100%;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25vh;
  
  background: url('../../../assets/landpage/fundo-provisorio.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  .container_icon {
    height: 347px;
    width: 457px;
    left: 50%;
    transform: scale(0.65);
    margin-top: -180px;
    background-image: url('../../../assets/landpage/logo-planethorse.gif');
    background-size: cover;
  }

  .container_button {
    font-family: 'UpheavalPro'; 
    animation: blinker 1.5s step-start infinite;
    text-align: center;
    color: var(--white);
    margin-top: -100px;

    display: flex;
    align-items: center;

    &:hover {
      animation: none;
    }

    @keyframes blinker {
      35% { opacity: 0 }
      100% { opacity: 1 }
    }

    span {
      font-size: 60px;
    }
    
    a {
      font-size: 38px;
      margin: 0 20px;
      color: var(--white);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 425px) {
      max-width: 238px;
    }
  }


  @media (max-width: 1440px) {
    .container_icon {
      height: 347px;
      width: 457px;
    }
    

    .container_button {
      span { font-size: 38px; }

      a {
        font-size: 32px;
        margin: 0 12px;
      }

      margin-top: -80px;
    }
  }

  @media (max-width: 768px) {
    .container_icon {
      height: 260px;
      width: 342px;
    }

    .container_button {
      span {
        font-size: 48px;
      }

      a {
        font-size: 36px;
        margin: 0 12px;
      }
      margin-top: 10px;
    }
  }
}
